
 * {
     margin: 0;
     padding: 0;
     /* border: dotted red 1px; */

}
.card {
    align-items: center;
    margin-top: 3em;
    margin-bottom:3em;
 
}



#mc-embedded-subscribe-form {
    width: 50%;
    display: inline-block;
    /* position: absolute;
    bottom: 10px; */
    
}

#mc_embed_signup {
  
  color: white;
    text-align: center;
 
}

.ticket-title {
    text-align: center;
    margin-top: 20px;
    
    
}

.la-function-carousel {
   margin-top: 20px;
  margin-bottom: 20px;
  
    
   
}



/* 
#carouselExampleControls {
    width: 40%;
   
    
}
#carouselExampleControls2 {
    width: 40%;
   
    
}
#carouselExampleControls3 {
    width: 40%;
   
    
} */






/* .home-page-cards {
   margin-top: 20px;
   margin-bottom: 20px;
} */

.dragon-fly-img{
    margin-top: 75px;
    margin-bottom: 150px;
}


@media screen and (max-width: 500px) {
    .row{padding-left:2em; padding-right: 2em; } 
    }

     @media screen and (max-width: 500px) {
        .la-function-video{width: 100%; padding-left:2em; padding-right: 2em;  } 
        }
        @media screen and (max-width: 900px) {
            .la-function-video{width: 75%; padding-left:2em; padding-right: 2em;  } 
            }

        @media screen and (max-width: 600px) {
            .la-function-carousel{width: 100%;  } 
            } 
            
            

            /* @media screen and (max-width: 600px) {
                .carouselExampleControls{width: 100%; padding-left:1em; padding-right: 1em; } 
                }  */